<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{lecturer_layout.html}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
  <title>Uni-XM | Admin</title>
</head>
<body>
<section layout:fragment="content">
  <!-- user profile first-style start-->
  <div class="container-fluid">

    <!-- Student dashboard start -->
    <div class="row" sec:authorize="hasRole('STUDENT')">
      <div class="col-sm-3">
        <div class="card course-box widget-course">
          <div class="card-body">
            <div class="course-widget">
              <div class="course-icon warning">
                <svg class="fill-icon">
                  <use href="../assets/svg/icon-sprite.svg#course-2"></use>
                </svg>
              </div>
              <div>
                <h4 th:text="${modules.size()}" class="mb-0" /><span class="f-light">Registered modules</span><a class="btn btn-light f-light" th:href="@{/students/user/modules}">View modules<span class="ms-2">
                                <svg class="fill-icon f-light">
                                  <use href="../assets/svg/icon-sprite.svg#arrowright"></use>
                                </svg></span></a>
              </div>
            </div>
          </div>
          <ul class="square-group">
            <li class="square-1 warning"></li>
            <li class="square-1 primary"></li>
            <li class="square-2 warning1"></li>
            <li class="square-3 danger"></li>
            <li class="square-4 light"></li>
            <li class="square-5 warning"></li>
            <li class="square-6 success"></li>
            <li class="square-7 success"></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card course-box widget-course">
          <div class="card-body">
            <div class="course-widget">
              <div class="course-icon warning">
                <svg class="fill-icon">
                  <use href="../assets/svg/icon-sprite.svg#course-2"></use>
                </svg>
              </div>
              <div>
                <h4 class="mb-0">50+</h4><span class="f-light">My Lecturers</span><a class="btn btn-light f-light" href="learning-list-view.html">View lecturers<span class="ms-2">
                                <svg class="fill-icon f-light">
                                  <use href="../assets/svg/icon-sprite.svg#arrowright"></use>
                                </svg></span></a>
              </div>
            </div>
          </div>
          <ul class="square-group">
            <li class="square-1 warning"></li>
            <li class="square-1 primary"></li>
            <li class="square-2 warning1"></li>
            <li class="square-3 danger"></li>
            <li class="square-4 light"></li>
            <li class="square-5 warning"></li>
            <li class="square-6 success"></li>
            <li class="square-7 success"></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card course-box widget-course">
          <div class="card-body">
            <div class="course-widget">
              <div class="course-icon warning">
                <svg class="fill-icon">
                  <use href="../assets/svg/icon-sprite.svg#course-2"></use>
                </svg>
              </div>
              <div>
                <h4 class="mb-0">50+</h4><span class="f-light">Total Exams Written</span><a class="btn btn-light f-light" href="learning-list-view.html">View written<span class="ms-2">
                                <svg class="fill-icon f-light">
                                  <use href="../assets/svg/icon-sprite.svg#arrowright"></use>
                                </svg></span></a>
              </div>
            </div>
          </div>
          <ul class="square-group">
            <li class="square-1 warning"></li>
            <li class="square-1 primary"></li>
            <li class="square-2 warning1"></li>
            <li class="square-3 danger"></li>
            <li class="square-4 light"></li>
            <li class="square-5 warning"></li>
            <li class="square-6 success"></li>
            <li class="square-7 success"></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card course-box widget-course">
          <div class="card-body">
            <div class="course-widget">
              <div class="course-icon warning">
                <svg class="fill-icon">
                  <use href="../assets/svg/icon-sprite.svg#course-2"></use>
                </svg>
              </div>
              <div>
                <h4 class="mb-0">50+</h4><span class="f-light">All My Exams</span><a class="btn btn-light f-light" href="learning-list-view.html">View exams<span class="ms-2">
                                <svg class="fill-icon f-light">
                                  <use href="../assets/svg/icon-sprite.svg#arrowright"></use>
                                </svg></span></a>
              </div>
            </div>
          </div>
          <ul class="square-group">
            <li class="square-1 warning"></li>
            <li class="square-1 primary"></li>
            <li class="square-2 warning1"></li>
            <li class="square-3 danger"></li>
            <li class="square-4 light"></li>
            <li class="square-5 warning"></li>
            <li class="square-6 success"></li>
            <li class="square-7 success"></li>
          </ul>
        </div>
      </div>

    </div>
    <!-- Student dashboard end -->
  </div>
  <!-- user profile first-style end-->
</section>
</body>

</html>