<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>All Staff Members</title>

    <!-- Plugins css start-->

    <!-- Plugins css Ends-->

</head>
<body>

<section layout:fragment="content">
    <div class="col-sm-12">
        <!-- HTML (DOM) sourced data  Starts-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0 card-no-border">
                    <h3 class="mb-3">Staff members list</h3>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="display" id="data-source-1" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Staff Name</th>
                                    <th>Staff Number</th>
                                    <th>Staff Email</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="staff:${staffMembers}">
                                    <td th:text="${staff.name}"></td>
                                    <td th:text="${staff.staffNumber}"></td>
                                    <td th:text="${staff.email}"></td>
                                    <td>
                                        <ul class="action">
                                            <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                                            <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- HTML (DOM) sourced data  Ends-->
        </div>
    </div>
</section>

<!-- Plugins JS start-->

<!-- Plugins JS Ends-->

</body>
</html>